@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.container {
 
  width: 90%;
  margin: 0 auto;
  max-width: 1320px;
  margin-bottom: 120px;
}

/* BANNER STARTS */
header .container{
  margin: 50px auto;
}

.banner-background {
  background-image: url("../resources/Banner\ Image.png");
  height: 600px;
}

.banner-text {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 177px 344px;
  
}

.banner-text p {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.banner-text h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

/* BANNER END */

/* ALL CATEGORIES STARTS*/

.primary-red-color {
  color: #f00;
  font-size: 24px;
}

.categories {
  /* border: 10px solid red; */
  margin: 0 400px 0 400px;
  text-align: center;
  justify-content: center;
}
.categories-content h3 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 48px;
}

.categories-content p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.categories-content h5 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.categories-img {
  overflow: hidden;
}

.categories-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CATEGORIES ENDS */

/* WELCOME PARTY STARTS */

.party-background {
  background-image: url("../resources/Vectorrr.png");
  height: 600px;
}

.party {
  padding: 67px 126px;
  display: flex;
  gap: 39px;
  justify-content: center;
  align-items: center;
}

.welcome-party {
  justify-content: center;
  align-items: center;
}
.welcome-party h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}

.welcome-party p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}

.welcome-party button {
  color: #fff;
  background-color: #070211;

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
}

/* WELCOME PARTY ENDS */

/* PLACE STARTS */

.place {
  text-align: center;
  padding: 100px 385px;
  justify-content: center;
  align-items: center;
}

.place-background {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}

.place h5 {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}

.place button {
  margin-top: 48px;
  margin-bottom: 110px;
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  color: white;
  border: none;
}
/* PLACE ENDS */

/* COMING SOON STARTS */

.b {
  width: 33.33%;
}
.coming-soon {
  display: flex;
  gap: 70px;
  margin: 100px 0px;
  justify-content: space-between;
  align-items: center;
}

.offer h6 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.offer h4 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}

.coming-soon-img {
  border: 10px solid red;
  border-radius: 50%;
}

.coming-soon-img {
  padding: 49px;
}

.year h4 {
  font-family: Inter;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 700;
  color: #f00;
}

.year img {
  width: 140px;
  height: 140px;
  margin-top: 43px;
}
/*COMING SOON ENDS  */


/* PORTFOLIO STARTS*/

.portfolio {
  width: 60%;
}
.portfolio h6 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 500;
}

.portfolio h4 {
  color: #070211;
  margin-bottom: 22px;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}

/* .portfolio-img {
  display: flex;
  display: inline-block;
  gap: 24px;
  margin-top: 48px;
  vertical-align: middle;
  justify-content: space-between;
} */


.portfolio-img{
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
  
}

.portfolio-img .images{
  width: 400px;
}

.portfolio-img .images img{
  width: 100%;
  transition: transform 0.3s ease;
}

.portfolio-img .images img:hover{
  transform: scale(1.2);
}

/*  */

/* NEWSLETTER STARTS */
.newsletter-background {
  background: rgba(255, 0, 0, 0.05);
}
.newsletter {
  text-align: center;
  

}

.subscribe-newsletter {
  padding: 80px 212px 48px 212px;
}
.subscribe-newsletter h4 {
  color: #070211;
  margin: 40px 0px 22px 0;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.subscribe-button {
  margin: 0 336px 80px 336px;
  padding-bottom: 80px;
}
.subscribe-button input[type="email"] {
  padding: 25px 77px 25px 30px;
  color: rgba(7, 2, 17, 0.3);

  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  border: none;
}
.subscribe-button input{
  border-radius: 0px 50px 50px 0px;

}
.btn-subscribe {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: white;
  border: none;
  padding: 25px 56px;
}

/*  */

/* footer */

footer {
  background-color: #070211;
}

.footer {
  margin: 120px 0 120px 0px;
}
footer .container {
  margin-bottom: 0;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content p,
.copyright p {
  color: white;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

hr {
  margin: 50px 0;
}

.contact i{
  margin: 0 16px;
}
.social-links {
  text-align: center;
}

.social-links img{
  margin-left: 24px;
}
.copyright {
  display: flex;
  justify-content: space-between;
}
